{% extends 'base.html.twig'%}



{% block body %}
	

	<div id="colorlib-rooms" class="colorlib-light-grey" style="background-image : url('{{ asset('assets/images/img_bg_3.jpg')}}');background-repeat:no-repeat;background-position:center center; width:100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
					<h2>Découvrez cette chambre</h2>
				</div>
			</div>
		</div>
	</div>
	

<br><br><br>
 
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<table class="table table-hover">
        <thead>
            <tr>

            <th>Image</th>
            <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
        </tr>
        <tr>
            <th scope="row">Summary</th>
            <td>{{ room.summary }}</td>
        </tr>
        <tr>
         <th scope="row">Description</th>
            <td>{{ room.description }}</td>
        </tr>
        <tr>
            <th scope="row">Capacité</th>
            <td>{{ room.capacity }}</td>
        </tr>
        <tr>
            <th scope="row">Superficie</th>
            <td>{{ room.superficy }}</td>
        </tr>
        <tr>
            <th scope="row">Prix</th>
            <td>{{ room.price }}</td>
        </tr>
        <tr>
            <th scope="row">Adresse</th>
            <td>{{ room.address }}</td>
        </tr>
        <tr>
            <th scope="row">Région</th>
            <td>{{ room.region }}</td>
        </tr>
        <tr>
            <th scope="row">Date Indisponible</th>
            <td>
            {% for reservation in room.reservations %}
                {{ reservation }}
                <br>
                <br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">Commentaires</th>
            {% if room.comments|length > 0 %}
                <td>
                {% for comment in room.comments %}
                    {{ comment }}
                    {% if client == comment.client %}
                    <a style="margin-left: 100px" href="{{ path('reservation_delete' , {'id' : room.id })  }}">Supprimer ce commentaire</a>
                    {% endif %}
                    <br>
                    <br>
                {% endfor %}
                </td>
            {% else %}
                <td>Aucun commentaire</td>
            {% endif %}

        </tr>
    </tbody>
    </table>
</div>
		<div class="col-lg-2"></div>
	</div>
    {% if is_granted('ROLE_OWNER')  %}
    {% endif %}


    {% if is_granted('ROLE_CLIENT') %}
        <td> <a href="{{ path('reservation_new' , {'id' : room.id })  }}">Faire une réservation</a></td>
        <br>
        <td><a href="{{ path('comment_new', {'id' : room.id }) }}">Commenter</a></td>

    {% endif %}
    <br>

    <a href="{{ path('room_index') }}">Retour</a>

    <br>
    {% if is_granted('ROLE_OWNER')  %}
        <a href="{{ path('room_edit', {'id': room.id}) }}">Editer la chambre</a>
    {% endif %}





{% endblock %}
    
